doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="fragment",content="!")
    title Reporter
    link(rel='stylesheet', href='index.css')
    
  body.container(ng-app="reporterApp",ng-controller="appCtrl")
    div(layout="row")
      div(flex)
        
        md-toolbar.red-bg(ng-if="failed.length > 0")
          .md-toolbar-tools
            .md-toolbar-item
              span.md-flex Errors: {{failed.length}}
            span(flex)
            .md-toolbar-item(ng-if="isRestartable")
              md-button.md-raised.md-flex(ng-click="restart()") restart

        md-content.md-padding(ng-if="failed.length > 0")
          md-list
            md-item(ng-repeat="item in failed")
              md-item-content
                .md-tile-content 
                  p {{item.levels.join(" ")}}
                  h4 {{item.title}}
                  p(ng-repeat="line in splitNewLine(item.failure)" ng-class="{'red':$index==0}") {{line}}
                .md-tile-right(ng-if="item.duration") {{item.duration}} 
        md-toolbar.blue-bg
          .md-toolbar-tools 
            .md-toolbar-item
              span.md-flex Tests: {{failed.length+data.length}}
            span(flex)
            .md-toolbar-item(ng-if="isRestartable&&failed.length == 0")
              md-button.md-raised.md-flex(ng-click="restart()") restart
        md-content.md-padding
          tree-mendous(nodes="tree.branches")
            div(ng-repeat="branch in nodes") 
              div.branch
                span(ng-repeat="lvl in branch.level")
                  span(ng-if="lvl>0") &nbsp; &nbsp; 
                span.branchname {{branch.name}} 
                  span(ng-if="branch.duration") ({{branch.duration}})
                div.leaves(ng-if="branch.leaves.length >0")
                  br
                  span(ng-repeat="lvl in branch.level")
                    span(ng-if="lvl>0") &nbsp; &nbsp; 
                  div.box(
                    ng-repeat="leaf in branch.leaves"
                    ng-class="{'red-bg': leaf.failure, 'blue-bg': !leaf.failure}"
                  )
                    md-tooltip 
                      span(ng-if="leaf.duration") ({{leaf.duration}}) 
                      span {{leaf.title}} 
                  div
                    div.leaf.red(ng-repeat="leaf in branch.leaves | hasProperty:'failure'") 
                      span.leafname {{leaf.title}} 
                        span(ng-if="leaf.duration") ({{leaf.duration}})
              tree-branch(nodes="branch.branches")
      div.console(flex)
        span.line(ng-repeat="string in console", ng-bind-html="string.html",ng-class="string.type") 

    script(src='bundle.js')
